body {
    height: 100vh;
    background-image: linear-gradient(rgba(16, 16, 16, 0.549), rgba(16, 16, 16, 0.708));
    background-size: 1em 1em, 100% 100%;
    background-blend-mode: hard-light;
    color: #fff;
}

    .navbar {
      background-color: rgb(158, 200, 210);
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      align-items: center;
    }

.navbar .logo {
      height: 60px;
      width: 60px;
      grid-column: 2 / 3;
      border-radius: 5%;
    }
    .navbar .menu {
      grid-column: 4 / 7;
      display: flex;
    }
    .navbar ul li {
      margin-right: 3em;
      list-style: none;
    }
    .navbar a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      cursor: pointer;
    }
    .navbar a:hover {
      color: #fff;
    }   
    